{
	"extends": "tonalio",
	"parserOptions": {
		"project": ["website/tsconfig.json", "website/tsconfig.eslint.json"]
	},
	"settings": {
		"react": {
			"version": "17.0.1"
		}
	},
	"rules": {
		"eslint-comments/no-unlimited-disable": "off"
	},
	"overrides": [
		{
			"files": ["*.svelte"],
			"rules": {
				"prettier/prettier": "off"
			}
		}
	],
	"ignorePatterns": [
		".yarn/",
		".pnp.js",
		".vscode/",
		"coverage/",
		"package.json",
		"**/obj/**",
		"**/bin/**",
		"**/dist/**",
		"**/build/**",
		"website/static/calc.js"
	]
}
